@page "/"

@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Bienvenidx al Sistema de Gestion de Expedientes</h1>
<div class=botonesInicio>
    <button @onclick="mostrarInicioSesion">Iniciar Sesión</button>
    <button @onclick="mostrarRegistrarse">Registrarse</button>
</div>

@if (CamposDeInicioSesion){
    <div>
        <input placeholder="Correo" @bind="u.Correo"/><br>
        <input placeholder="Contraseña" @bind="u.Contrasenia"/><br>
    </div>
    <button @onclick="IniciarSesion">Confirmar</button>
    @if (PopUpException && CamposDeInicioSesion){
        <PopUpException @ref=Exception Mensaje="@men" />
    } 
}
@if (CamposDeRegistro){
    <div>
        <input placeholder="Nombre" @bind="u.Nombre"/><br>
        <input placeholder="Apellido" @bind="u.Apellido"/><br>
        <input placeholder="Correo" @bind="u.Correo"/><br>
        <input placeholder="Contraseña" @bind="u.Contrasenia"/><br>
    </div>
    <button @onclick="AgregarUsuario">Registrarse</button>

    @if (PopUpException && CamposDeRegistro){
        <PopUpException @ref=Exception Mensaje="@men" />
    }
}

@inject CasoDeUsoUsuarioAgregarUsuario AgregarUsuarioUseCase
@inject CasoDeUsoUsuarioIniciarSesion IniciarSesionUseCase
@inject CasoDeUsoUsuarioBuscar BuscarUsuarioUseCase
@inject NavigationManager Navegador
@inject IServicioSesion user
@code {
    public bool CamposDeInicioSesion {get; set;} = false;
    public bool CamposDeRegistro {get; set;} = false;
    public bool PopUpException {get; set;} = false;
    public string men {get; set;} ="";

    Usuario u=new Usuario();

    PopUpException? Exception;
    public async Task AgregarUsuario(){
        try
        {
            AgregarUsuarioUseCase.Ejecutar(u);
        }
        catch (Exception e)
        {
            men=e.Message;
            Console.WriteLine(men);
            Exception=new PopUpException();
            PopUpException=true;
            await Task.Delay(150);
            Exception.Mostrar();
        }
    }

    public async Task IniciarSesion(){
        try
        {
            if (IniciarSesionUseCase.Ejecutar(u)){
                user.usuarioLoggeado=BuscarUsuarioUseCase.Ejecutar(u);
                Console.WriteLine("/: userloggeado= "+user.usuarioLoggeado.id);
                await Task.Delay(300);
                Navegador.NavigateTo("/panel");
            }
        }
        catch (Exception e)
        {
            men=e.Message;
            Console.WriteLine(men);
            PopUpException=true;
            await Task.Delay(150);
            Exception?.Mostrar();
        }
    }

    public void mostrarInicioSesion(){
        CamposDeRegistro=false;
        CamposDeInicioSesion=true;
    }
    public void mostrarRegistrarse(){
        CamposDeInicioSesion=false;
        CamposDeRegistro=true;
    }
}
