@page "/panel"
@rendermode InteractiveServer


@inject NavigationManager navegador

<PageTitle>Panel de Usuario</PageTitle>

<h3>
<button class="btn btn-primary" @onclick= "iraTramite" > ir a Tramites</button>
</h3>

<h3>
<button class="btn btn-primary" @onclick= "iraExpediente" > ir a Expedientes</button>
</h3>


@code {
    private void iraExpediente(){
        navegador.NavigateTo("/expedientes");
    }
    private void iraTramite(){
        navegador.NavigateTo("/tramites");
    }
}